* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
}

/* General */
body {
  background: #f5f1e3;
  max-height: 100vh;
  display: grid;
  grid-template: 100px 90% / 20% 80%;
}

h1 {
  font-size: 64px;
  text-align: center;
  line-height: 100px;
  color: #d35400;
  position: absolute;
  left: 60%;
  transform: translate(-60%, 0);
}

/* User Input */
h2 {
  color: #f1c40f;
  text-align: center;
  font-size: 36px;
  margin-bottom: 1rem;
}

aside {
  background: #d35400;
  height: 98vh;
  padding: 1rem;
  border-radius: 24px;
  margin: 8px;
  grid-row: 1 / span 2;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #f1c40f;
  font-size: 1.25rem;
  text-align: start;
  margin-bottom: 2px;
}

form > input {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 6px;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
}

input:focus,
input:active {
  outline: none;
}

input#bookPages {
  width: 120px;
}

input#bookStatus {
  width: 1.25rem;
  height: 1.25rem;
}

form > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

form > button#addBtn {
  background-color: #f1c40f;
  color: #d35400;
  font-size: 1.25rem;
  width: fit-content;
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
}

form > button#addBtn:hover {
  background-color: transparent;
  color: #f1c40f;
  outline: 2px solid #f1c40f;
}

/* Cards Section */
main.cards-container {
  max-height: auto;
  margin: 4px 10px 10px 4px;
  border-radius: 24px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: flex-start; */
  overflow: scroll;
}

.card {
  background-color: #d35400;
  width: 300px;
  height: fit-content;
  padding: 14px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  color: #333333;
  font-size: 1.5rem;
}

p.title,
.card span {
  color: #f1c40f;
}

.card div {
  text-align: center;
  margin: 16px 0;
}

.card > p:nth-child(2) {
  font-size: 1.25rem;
}

span.numPages {
  line-height: 36px;
  font-size: 3rem;
}

.card button {
  color: #f1c40f;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

#status {
  background-color: #0f750f;
  margin-bottom: 12px;
}

#delete {
  background-color: #8b0000;
}

#status:hover,
#delete:hover {
  background-color: #d35400;
  color: #333333;
  outline: 2px solid #f1c40f;
}
