* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      list-style-type: none;
      list-style: none;
      font-family: 'Poetsen One', sans-serif;
      font-weight: 200;
}

body {
      height: 100vh;
      background: url(./background.svg);
}

header {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
}

/* card styles */

.card, .add-card{
      background-color: #fff;
      width: 320px;
      height: 180px;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 8px;
}

.card > *:not(div){
      margin-bottom: 6px;
}

div.buttons{
      margin-top: 22px;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr 4fr;
      gap: 10px;
}

.buttons > button{
      background-color: none;
      background: none;
      border: none;
      font-size: 1em;
      cursor: pointer;
      justify-self: start;
}

.cards-container {
      width: 100%;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
      justify-content: center;
}

/* add card button */

button.add-card {
      background-color: rgba(202, 202, 202, 0.521);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

button.add-card:hover {
      background-color: #ffffff;
}

img[alt="plus icon"] {
      width: 48px;
      height: 48px;
}

/* toggle button */

label.toggle-btn {
      background-color: #cacaca;
      width: 36px;
      height: 16px;
      border-radius: 18px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      transition: 0.2s;
}

.toggle-btn::before {
      position: absolute;
      content: '';
      background-color: #fff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 1px;
      transition: 0.2s;
}

input:checked + .toggle-btn {
      background-color: #4658ff;
}

input:checked + .toggle-btn::before {
      transform: translateX(20px);
}

input[id^='readCheck'] {
      display: none;
}

/* toggle button in card */

.toggle-btn-cont {
      justify-self: end;
}
 
/* dialog styles */

dialog {
      margin: auto;
      padding: 20px;
      width: 600px;
}

dialog > h2 {
      text-align: center;
}

form label {
      font-size: 1.4rem;
      display: block;
}

form > input {
      font-size: 1rem;
      width: 100%;
      padding: 4px;
      margin: 4px 0;
}

form > input[type="number"] {
      width: 20%;
}

dialog > form > div.toggle-btn-cont {
      height: 26px;
      display: flex;
      align-items: flex-end;
}

dialog button {
      width: 74px;
      height: 26px;
}

dialog label[for="readCheck"] {
      line-height: 18px;
}

form > div:last-child{
      margin-top: 16px;
}

form > div > button:first-of-type {
      margin-right: 8px;
}



